################################
##        MENU VIEW
################################
#if ($isInServletMode)## Visible only in a page
  #template("menus_macros.vm")
  
  ## Top Menu
  #xwikitopmenustart()
    
    ## Right menu
    #xwikitopmenurightstart()
      ##<div class="navbar-header">
      <li>
      <button type="button" class="navbar-form drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <a class="icon-navbar nav-drawer-icon"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
      </button>
      </li>
      ##</div>
      ##template("quicksearch.vm")
      ##template("menus_language.vm")
      ##template("menus_user.vm")
    #xwikitopmenurightend()
    
    #*
    ## Left menu
    #xwikitopmenuleftstart()
      #template("menus_home.vm")
      #template("menus_wiki.vm")
      #template("menus_space.vm")
      #template("menus_page.vm")
      #template("menus_create.vm")
    #xwikitopmenuleftend()
    *#
    
  ## End of Top Menu
  #xwikitopmenuend()
  
  #template("drawer.vm")
#end
