################################
##       QUICK SEARCH
################################
#if ($displayQuickSearch && ($xwiki.exists('Main.Search') || $xwiki.exists('Main.WebSearch')))
  <li>
    <form class="navbar-form navbar-left globalsearch collapse" id="globalsearch" role="search" action="#if($xwiki.exists('Main.Search'))$xwiki.getURL('Main.Search')#else$xwiki.getURL('Main.WebSearch')#end">
      <input type="text" name="text" placeholder="$services.localization.render('panels.search.inputText')" id="headerglobalsearchinput" />
    </form>
  </li>
#end
